body {font-family: "Lato", sans-serif}
.text {
color: #ffffff;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

.clr2 {
	/*margin-top: 848px;*/
    background-color:#FFDAD2 
}

.clr1 {
    background-color:#FFE2DC 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clr {
    background-color:#FFEDE9
}

.clr3 {
    background-color:#FFF6F4
}

.top_menu_bar {
	width: 100%;
	display: flex;
	justify-content: space-between;	
}


.IStandWithUkraine {
	flex-direction: row-reverse;
}

/*ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

li {
	position: absolute;
}

li:nth-child(3) {
  animation: xfade 12s 0s infinite;
}
li:nth-child(2) {
  animation: xfade 12s 4s infinite;
}
li:nth-child(1) {
  animation: xfade 12s 8s infinite;
}
@keyframes xfade{
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
}*/

/*.Slideshow > figure {
	animation: imageAnimation 9s linear 0s infinite forwards;
	backface-visibility: hidden;
	background-size: cover;
	background-position: center center;
	color: transparent;
	height: 96%;
	opacity: 0;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 0;
}

.figure {
	margin: 0;
}

.Slideshow > figure:nth-child(1) {
  background-image: url("../../slr.JPEG");
}
.Slideshow > figure:nth-child(2) {
  animation-delay: 3s;
  background-image: url("../../pc1.jpeg");
}
.Slideshow > figure:nth-child(3) {
  animation-delay: 6s;
  background-image: url("../../pc2.jpeg");
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  33% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  66% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}*/